/* LOADER */

@font-face {
    font-family: 'Loader';
    src: url(../fonts/letra_loader.otf);
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: #5bc0be;
    -webkit-text-stroke: 2px black;
    z-index: 10000;
    transition: 2s ease-in-out;
}

.frase_loader {
    font-family: 'Titulo';
    font-size: 10vh;
}

.loader2 {
    visibility: hidden;
}

/* INICIO */

@font-face {
    font-family: 'Texto';
    src: url(../fonts/texto_cv.otf);
}


@font-face {
    font-family: 'Titulo';
    src: url(../fonts/titulo_cv.otf);
}

.menu_nav {
    height: 17vh;
    z-index: 100;
}

.nombre_nav {
    font-family: 'Titulo';
    font-size: 8vh;
    margin-left: 5%;
    color: #1dd3b0;
    -webkit-text-stroke: 1px black;
}

.enlaces_nav {
    display: flex;
    justify-content: center;
    font-family: 'Titulo';
    font-size: 4vh;
    color: black;
    background-color: white;
    padding: 1%;
}

.separa_nav {
    margin-left: 40px;
}

.tarjeta {
    padding: 5%;
    background-image: url(../img/fondo_target.jpg);
}

.card {
    display: block;
    margin: auto;
    width: 50vh;
}

.imagen_card {
    border-radius: 50%;
}

.nombre_card {
    font-family: 'Titulo';
    text-align: center;
    padding: 5%;
    color: #5bc0be;
}

.card-text {
    font-family: 'Texto';
    text-align: center;
}

.rrss {
    padding: 5%;
    font-family: 'Titulo';
}

.rrss_izquierda a{
    padding: 3%;
    color: #5bc0be;
    text-decoration: none;
}

.rrss_izquierda a:hover{
    padding: 3%;
    color: black;
    text-decoration: none;
}

.rrss_derecha a{
    display: flex;
    justify-content: end;
    padding: 3%;
    color: #5bc0be;
    text-decoration: none;
}

.rrss_derecha a:hover{
    display: flex;
    justify-content: end;
    padding: 3%;
    color: black;
    text-decoration: none;
}

/* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 3.5vh; 
}

/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 4vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 6vh;
    text-align: center;
}


.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 4vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}



.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.texto_skills {
    font-family: 'Texto';
    
    color: white;
    font-size: 3vh;
}

.skills .skill > span{
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: grey;
    position: relative;
    margin-top: 10%;
    margin-bottom: 15%;
}
.skills .skill .progreso{
    background-color: #5bc0be;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #5bc0be;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}



@media screen and (max-width: 1400px) {

    .card {
        display: block;
        margin: auto;
        width: 40vh;
    }

/* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 4vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 3.5vh; 
}
/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.img_ilerna {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 4vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 6vh;
    text-align: center;
}

.camarero {
    display: block;
    margin: auto;
    color: #5bc0be;
}

.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 4vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 10vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}
}

@media screen and (max-width: 1200px) {
    .card {
        display: block;
        margin: auto;
        width: 40vh;
    }

   /* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 2vh; 
}

/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.img_ilerna {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 2.5vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.camarero {
    display: block;
    margin: auto;
    color: #5bc0be;
}

.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}
}

@media screen and (max-width: 992px) {
    .card {
        display: block;
        margin: auto;
        width: 40vh;
    }

   /* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 2vh; 
}

/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.img_ilerna {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 2.5vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.camarero {
    display: block;
    margin: auto;
    color: #5bc0be;
}

.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}
}

@media screen and (max-width: 768px) {
    .card {
        display: block;
        margin: auto;
        width: 40vh;
    }

   /* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 2vh; 
}

/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.img_ilerna {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 2.5vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.camarero {
    display: block;
    margin: auto;
    color: #5bc0be;
}

.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

}

@media screen and (max-width: 576px) {
    .card {
        display: block;
        margin: auto;
        width: 40vh;
    }

   /* DATOS PERSONALES */

.datos_personales {
    border-bottom: 2px solid black;
}

.adorno_datos_personales {
    background-color: #5bc0be;
    border-right: 3px solid black;
}

.titulo_datos_personales {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.telefono {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.telefono_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.email {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.email_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.edad {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.edad_texto {
    font-family: 'Texto';
    text-align: center;
    font-size: 2vh;
}

.bandera {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}

.mapa {
    display: block;
    margin: auto;
    width: 50%;
}

/* DESCRIPCION PERSONAL */

.titulo_descripcion_personal {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
}

.texto_descripcion_personal {
    font-family: 'Texto';
    font-size: 2vh; 
}

/* FORMACION */

.formacion {
    border-bottom: 2px solid white;
}

.titulo_formacion {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    text-align: center;
    padding: 5%;
}

.container_formacion_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_txt {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_formacion_img2 {
    border-left: 2px solid white;
}

.container_formacion_txt2 {
    border-right: 2px solid white;
}

.img_formacion {
    display: block;
    margin: auto;
    margin-top: 5%;
}

.img_ilerna {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
}

.texto_formacion_titulo {
    font-family: 'Titulo';
    padding: 4%;
    color:#5bc0be;
    font-size: 2.5vh;
    text-align: center;
}

.texto_formacion {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.camarero {
    display: block;
    margin: auto;
    color: #5bc0be;
}

.texto_exp {
    font-family: 'Texto';
    padding:2% ;
    color: white;
    font-size: 3vh;
    text-align: center;
}


.container_idioma_img {
    border-right: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt {
    border-left: 2px solid white;
    
}

.container_idioma_img2 {
    border-left: 2px solid white;
    margin-bottom: 7%;
}

.container_idioma_txt2 {
    border-right: 2px solid white;
}



.adorno_portfolio {
    background-color: #5bc0be;
    border-left: 3px solid white;
}

.titulo_portfolio {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px white;
    margin-left: 2%;
}


.nba-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.js-port{
    margin-top: 10%;
    margin-bottom: 3%;
}

.texto_proj {
    font-family: 'Texto';
    padding: 3%;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.titulo_hobbies {
    font-family: 'Titulo';
    font-size: 4.5vh;
    color: #5bc0be;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 5%;
}

.amigos {
    display: block;
    margin: auto;
    color: #5bc0be;
    margin-top: 5%;
}
}